html, body {
	overflow-x: hidden;
	font-family: 'Roboto' !important;
	margin: 0;
	padding: 0;
	border: 0;
}

p, span {
	margin: 0;
	padding: 0;
	border: 0;
}

@media (min-width: 768px) {
	.col-sm-3 {
		background: 'green';
		width: 22%;
	}
}
